@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
@import "tailwindcss";

body {
  background-color: white;
}

html, body, #root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* For native select elements */
select {
  background-color: #fff !important;
}

/* For shadcn/ui or similar custom Select components */
[data-radix-popper-content-wrapper] {
  background-color: #fff !important;
}

